.likes {
	display: flex;
	flex-wrap: wrap;	
	margin-top: -3px;

	& .likes__title {
		width: 50%;
		text-align: center;
		display: flex;
		flex-direction: column;

		& p {
			margin: 340px 170px 160px;
			font-size: 20px;
			font-family: $font-primary;
			color: $black;
			font-weight: $regular;
			line-height: 29px;
			text-align: center;
			letter-spacing: 1px;
			position: relative;
		}

		& p::before {
			content: '“';
			position: absolute;
			font-family: $font-main;
			font-size: 75px;
			font-weight: $light;
			color: $grey4;
			left: -15px;
			top: -17px;
		}

		& p::after {
			content: '”';
			position: absolute;
			font-family: $font-main;
			font-size: 72px;
			font-weight: $light;
			color: $grey4;
			right: -15px;
			bottom: -56px;
		}

		& span {
			font-family: $font-primary;
			font-weight: $regular;
			color: $black;
			letter-spacing: 1px;
			font-size: 18px;
		}
	}

	& .likes__img {
		width: 50%;
		max-height: 100%;

		& .likes__imgs {
			width: 100%;
			height: auto;
		}
	}
}



@media only screen and (max-width: 1125px) {
	.likes__title p {
		margin-top: 230px !important;
		margin-left: 55px !important;
		margin-right: 55px !important;
	}

}

@media only screen and (max-width: $large-width) {
	.likes__title p {
		margin-top: 190px !important;
	}
}

@media only screen and (max-width: 884px) {
	.likes__title p {
		font-size: 19px !important;
		margin-bottom: 70px !important;
		margin-top: 140px !important;
	}
}

@media only screen and (max-width: 800px) {
	.likes__title p {
		margin-bottom: 50px !important;
	}
}

@media only screen and (max-width: 700px) {
	.likes {
		display: flex;
		flex-wrap: wrap-reverse !important;
	}
	
	.likes__title p {
		margin-top: 60px !important;
	}


	.likes__img {
		width: 100% !important;
	}

	.likes__title {
		width: 100% !important;
	}
}

@media only screen and (max-width: 600px) {
	.likes__title p {
		margin-left: 45px !important;
		margin-right: 45px !important;
	}
}

@media only screen and (max-width: 450px) {
	.likes__title p {
		font-size: 16px !important;
	}

	.likes__title span {
		margin-bottom: 30px;
	}
}